body{
  
  
  background: #42275a; 
  background: linear-gradient(to right, #42275a, #734b6d); 
  color: white;
  font-family: 'Playfair Display', arial, sans-serif;
  margin: 2em;
}

h1{
  font-family: 'Playfair Display', arial, sans-serif;
}

button{
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 104px;
  background-color: #2C3E50;
  color: white;
}

.show{
  display: block;
}

#gameButtonArea > button{
  width: 200px;
  height: 200px;
  margin: 4px;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
}

.hidden{
  display: none;
}

#button1{
  background: lightgreen;
}

#button1:active, #button1.lit{
  background: green;
}

#button2{
  background: lightblue;
}

#button2:active, #button2.lit{
  background: blue;
}

#button3{
  background: #FF7F7F;
}

#button3:active, #button3.lit{
  background: red;
}

#button4{
  background: lightyellow;
}

#button4:active, #button4.lit{
  background: yellow;
}


#button5{
  background: #FBBF77;
}

#button5:active, #button5.lit{
  background: orange;
}


#button6{
  background: #F6CEFC;
}

#button6:active, #button6.lit{
  background: #800080; 
  /* background: url( 'https://cdn.glitch.global/1b5837a2-f78d-4ae7-991b-ad8ac112679a/harp.png?v=1650142271272' );
  height: 134px;  
  width: 104px; */
}


.close-image img {
    height: 150px;  
    width: 150px;
  
}

#close-CSS {
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}
